In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [2]:
pd.set_option('display.max_colwidth', 20000)

In [3]:
import sys

In [4]:
sys.path.append(os.path.join(os.path.dirname('__file__'), '..', 'scripts', 'utils'))

In [5]:
from functions import *

In [6]:
#Read the Baseline DataSet

#data_set = pd.read_csv("../base/input/base.csv", encoding="utf-8")

In [7]:
#Read the Endline DataSet

data_set = pd.read_csv("../end/input/end.csv", encoding="utf-8")

In [8]:
df = data_set.copy()

In [9]:
df['1.2 - Sèks patisipan an'].isnull().any()

False

In [10]:
#Let's drop not necessary column
#df = df.drop(df.columns[[0, 1, 2, 3, 4, 56, 57, 58, 59, 60, 61]], axis = 1)

In [11]:
#df.columns

In [12]:
sex_def = count_freq_simple_answer(df, '1.2 - Sèks patisipan an')

In [13]:
sex_def

  response  frequency
0    Gason        200
1       Fi        276

In [14]:
percent_l = [(v/df.shape[0]) * 100 for v in sex_def['frequency']]

In [15]:
percent_l

[42.016806722689076, 57.98319327731093]

In [16]:
percent_l_formated = [str(round(i, 2)) + '%' for i in percent_l]

In [17]:
percent_l_formated

['42.02%', '57.98%']

In [18]:
sex_def['percent'] = percent_l_formated

In [19]:
sex_def

  response  frequency percent
0    Gason        200  42.02%
1       Fi        276  57.98%

In [20]:
f_df = df[df['1.2 - Sèks patisipan an'] == 'Fi']

In [21]:
f_df.shape

(276, 62)

In [22]:
h_df = df[df['1.2 - Sèks patisipan an'] == 'Gason']

In [23]:
h_df.shape

(200, 62)

In [24]:
#2.3 - Selon ou èske vyolans sou fanm ka ogmante nan peryèd COVID-19 la?
#Non, paske medam yo konn dwa yo, yo p'ap nwi mesye yo pou yo pa bat yo
#Non, paske mesye yo vin konsyan de pwoblèm sa, yo pa bat prèske fi ankò
#Non, ka gen ti pale anpil nan fanmi yo, ti joure ant mari ak madanm pa vyolans sou fanm
#Non, paske nan moman sa gason yo bezwen sipò medam yo yo pap leve men sou yo
#Wi, paske pral gen plis enfidelite se nòmal pou mesye yo sere boulon medam yo
#Wi paske fi yo pral fèmen nan kay, yo riske pran anpil jouman anba mari yo sitou si ekonomi fanmi yo bese
#Lòt

In [25]:
total_opinion_on_violence_during_covid = count_freq_multiple_answer(
    df,
   '2.3 - Selon ou èske vyolans sou fanm ka ogmante nan peryèd COVID-19 la?',  
    ["Non, paske medam yo konn dwa yo, yo p'ap nwi mesye yo pou yo pa bat yo", 
    "Non, paske mesye yo vin konsyan de pwoblèm sa, yo pa bat prèske fi ankò", 
    'Non, ka gen ti pale anpil nan fanmi yo, ti joure ant mari ak madanm pa vyolans sou fanm', 
    'Non, paske nan moman sa gason yo bezwen sipò medam yo yo pap leve men sou yo',
    'Wi, paske pral gen plis enfidelite se nòmal pou mesye yo sere boulon medam yo', 
    'Wi paske fi yo pral fèmen nan kay, yo riske pran anpil jouman anba mari yo sitou si ekonomi fanmi yo bese', 
    'Lòt'])

In [26]:
total_femme_opinion_on_violence_during_covid = count_freq_multiple_answer(
    f_df,
   '2.3 - Selon ou èske vyolans sou fanm ka ogmante nan peryèd COVID-19 la?',  
    ["Non, paske medam yo konn dwa yo, yo p'ap nwi mesye yo pou yo pa bat yo", 
    "Non, paske mesye yo vin konsyan de pwoblèm sa, yo pa bat prèske fi ankò", 
    'Non, ka gen ti pale anpil nan fanmi yo, ti joure ant mari ak madanm pa vyolans sou fanm', 
    'Non, paske nan moman sa gason yo bezwen sipò medam yo yo pap leve men sou yo',
    'Wi, paske pral gen plis enfidelite se nòmal pou mesye yo sere boulon medam yo', 
    'Wi paske fi yo pral fèmen nan kay, yo riske pran anpil jouman anba mari yo sitou si ekonomi fanmi yo bese', 
    'Lòt'])

In [27]:
total_homme_opinion_on_violence_during_covid = count_freq_multiple_answer(
    h_df,
   '2.3 - Selon ou èske vyolans sou fanm ka ogmante nan peryèd COVID-19 la?',  
    ["Non, paske medam yo konn dwa yo, yo p'ap nwi mesye yo pou yo pa bat yo", 
    "Non, paske mesye yo vin konsyan de pwoblèm sa, yo pa bat prèske fi ankò", 
    'Non, ka gen ti pale anpil nan fanmi yo, ti joure ant mari ak madanm pa vyolans sou fanm', 
    'Non, paske nan moman sa gason yo bezwen sipò medam yo yo pap leve men sou yo',
    'Wi, paske pral gen plis enfidelite se nòmal pou mesye yo sere boulon medam yo', 
    'Wi paske fi yo pral fèmen nan kay, yo riske pran anpil jouman anba mari yo sitou si ekonomi fanmi yo bese', 
    'Lòt'])

In [28]:
answers = {"Non, paske medam yo konn dwa yo, yo p'ap nwi mesye yo pou yo pa bat yo":
               'Non, les femmes connaissent leurs Droits, elles ne vont pas ennuyer les hommes pour qu\'elles ne se fassent tabasser', 
               'Non, paske mesye yo vin konsyan de pwoblèm sa, yo pa bat prèske fi ankò': 
               'Non, les hommes sont concients de ce probleme. Il ne tabassent presque plus les femmes', 
               'Non, ka gen ti pale anpil nan fanmi yo, ti joure ant mari ak madanm pa vyolans sou fanm': 
               'Non, il y aura des petites prises de bouche, de petites prises de bouche entre epoux et epouses ne sont pas de la violence sur la femme',
               'Non, paske nan moman sa gason yo bezwen sipò medam yo yo pap leve men sou yo': 
               'Non, en ce moment, les hommes ont besoin du support de leurs femmes. Ils ne vont pas les toucher',
               'Wi, paske pral gen plis enfidelite se nòmal pou mesye yo sere boulon medam yo':
               'Oui, il y aura beaucoup d\'infidelite il est donc normal que les hommes oppressent les femmes',
               'Wi paske fi yo pral fèmen nan kay, yo riske pran anpil jouman anba mari yo sitou si ekonomi fanmi yo bese':
               'Oui, car les femmes vont etre enfermees, elles risquent de se faire violenter surtout si l\'economie de la famille s\'abaisse',
          'Lòt': 'Autres'}
renamed_list = rename_col_values(total_opinion_on_violence_during_covid, 'response', answers)
total_opinion_on_violence_during_covid['response'] = renamed_list

In [29]:
total_opinion_on_violence_during_covid

,response,frequency
0,"Oui, car les femmes vont etre enfermees, elles risquent de se faire violenter surtout si l'economie de la famille s'abaisse",228
1,"Oui, il y aura beaucoup d'infidelite il est donc normal que les hommes oppressent les femmes",109
2,"Non, en ce moment, les hommes ont besoin du support de leurs femmes. Ils ne vont pas les toucher",110
3,"Non, les femmes connaissent leurs Droits, elles ne vont pas ennuyer les hommes pour qu'elles ne se fassent tabasser",75
4,"Non, il y aura des petites prises de bouche, de petites prises de bouche entre epoux et epouses ne sont pas de la violence sur la femme",106
5,"Non, les hommes sont concients de ce probleme. Il ne tabassent presque plus les femmes",98
6,Autres,22

In [30]:
answers = {"Non, paske medam yo konn dwa yo, yo p'ap nwi mesye yo pou yo pa bat yo":
               'Non, les femmes connaissent leurs Droits, elles ne vont pas ennuyer les hommes pour qu\'elles ne se fassent tabasser', 
               'Non, paske mesye yo vin konsyan de pwoblèm sa, yo pa bat prèske fi ankò': 
               'Non, les hommes sont concients de ce probleme. Il ne tabassent presque plus les femmes', 
               'Non, ka gen ti pale anpil nan fanmi yo, ti joure ant mari ak madanm pa vyolans sou fanm': 
               'Non, il y aura des petites prises de bouche, de petites prises de bouche entre epoux et epouses ne sont pas de la violence sur la femme',
               'Non, paske nan moman sa gason yo bezwen sipò medam yo yo pap leve men sou yo': 
               'Non, en ce moment, les hommes ont besoin du support de leurs femmes. Ils ne vont pas les toucher',
               'Wi, paske pral gen plis enfidelite se nòmal pou mesye yo sere boulon medam yo':
               'Oui, il y aura beaucoup d\'infidelite il est donc normal que les hommes oppressent les femmes',
               'Wi paske fi yo pral fèmen nan kay, yo riske pran anpil jouman anba mari yo sitou si ekonomi fanmi yo bese':
               'Oui, car les femmes vont etre enfermees, elles risquent de se faire violenter surtout si l\'economie de la famille s\'abaisse',
          'Lòt': 'Autres'}
renamed_list_f = rename_col_values(total_femme_opinion_on_violence_during_covid, 'response', answers)
total_femme_opinion_on_violence_during_covid['response'] = renamed_list_f

In [31]:
total_femme_opinion_on_violence_during_covid

,response,frequency
0,"Oui, car les femmes vont etre enfermees, elles risquent de se faire violenter surtout si l'economie de la famille s'abaisse",143
1,"Non, en ce moment, les hommes ont besoin du support de leurs femmes. Ils ne vont pas les toucher",58
2,"Oui, il y aura beaucoup d'infidelite il est donc normal que les hommes oppressent les femmes",54
3,"Non, il y aura des petites prises de bouche, de petites prises de bouche entre epoux et epouses ne sont pas de la violence sur la femme",64
4,"Non, les femmes connaissent leurs Droits, elles ne vont pas ennuyer les hommes pour qu'elles ne se fassent tabasser",47
5,Autres,13
6,"Non, les hommes sont concients de ce probleme. Il ne tabassent presque plus les femmes",57

In [32]:
answers = {"Non, paske medam yo konn dwa yo, yo p'ap nwi mesye yo pou yo pa bat yo":
               'Non, les femmes connaissent leurs Droits, elles ne vont pas ennuyer les hommes pour qu\'elles ne se fassent tabasser', 
               'Non, paske mesye yo vin konsyan de pwoblèm sa, yo pa bat prèske fi ankò': 
               'Non, les hommes sont concients de ce probleme. Il ne tabassent presque plus les femmes', 
               'Non, ka gen ti pale anpil nan fanmi yo, ti joure ant mari ak madanm pa vyolans sou fanm': 
               'Non, il y aura des petites prises de bouche, de petites prises de bouche entre epoux et epouses ne sont pas de la violence sur la femme',
               'Non, paske nan moman sa gason yo bezwen sipò medam yo yo pap leve men sou yo': 
               'Non, en ce moment, les hommes ont besoin du support de leurs femmes. Ils ne vont pas les toucher',
               'Wi, paske pral gen plis enfidelite se nòmal pou mesye yo sere boulon medam yo':
               'Oui, il y aura beaucoup d\'infidelite il est donc normal que les hommes oppressent les femmes',
               'Wi paske fi yo pral fèmen nan kay, yo riske pran anpil jouman anba mari yo sitou si ekonomi fanmi yo bese':
               'Oui, car les femmes vont etre enfermees, elles risquent de se faire violenter surtout si l\'economie de la famille s\'abaisse',
          'Lòt': 'Autres'}
renamed_list_h = rename_col_values(total_homme_opinion_on_violence_during_covid, 'response', answers)
total_homme_opinion_on_violence_during_covid['response'] = renamed_list_h

In [33]:
total_homme_opinion_on_violence_during_covid

,response,frequency
0,"Oui, car les femmes vont etre enfermees, elles risquent de se faire violenter surtout si l'economie de la famille s'abaisse",85
1,"Oui, il y aura beaucoup d'infidelite il est donc normal que les hommes oppressent les femmes",55
2,"Non, les femmes connaissent leurs Droits, elles ne vont pas ennuyer les hommes pour qu'elles ne se fassent tabasser",28
3,"Non, en ce moment, les hommes ont besoin du support de leurs femmes. Ils ne vont pas les toucher",52
4,"Non, il y aura des petites prises de bouche, de petites prises de bouche entre epoux et epouses ne sont pas de la violence sur la femme",42
5,"Non, les hommes sont concients de ce probleme. Il ne tabassent presque plus les femmes",41
6,Autres,9

In [34]:
mergedDf1 = total_opinion_on_violence_during_covid.merge(total_femme_opinion_on_violence_during_covid, on='response')

In [35]:
mergedDf1

,response,frequency_x,frequency_y
0,"Oui, car les femmes vont etre enfermees, elles risquent de se faire violenter surtout si l'economie de la famille s'abaisse",228,143
1,"Oui, il y aura beaucoup d'infidelite il est donc normal que les hommes oppressent les femmes",109,54
2,"Non, en ce moment, les hommes ont besoin du support de leurs femmes. Ils ne vont pas les toucher",110,58
3,"Non, les femmes connaissent leurs Droits, elles ne vont pas ennuyer les hommes pour qu'elles ne se fassent tabasser",75,47
4,"Non, il y aura des petites prises de bouche, de petites prises de bouche entre epoux et epouses ne sont pas de la violence sur la femme",106,64
5,"Non, les hommes sont concients de ce probleme. Il ne tabassent presque plus les femmes",98,57
6,Autres,22,13

In [36]:
mergedDf2 = mergedDf1.merge(total_homme_opinion_on_violence_during_covid, on='response')

In [37]:
mergedDf2

,response,frequency_x,frequency_y,frequency
0,"Oui, car les femmes vont etre enfermees, elles risquent de se faire violenter surtout si l'economie de la famille s'abaisse",228,143,85
1,"Oui, il y aura beaucoup d'infidelite il est donc normal que les hommes oppressent les femmes",109,54,55
2,"Non, en ce moment, les hommes ont besoin du support de leurs femmes. Ils ne vont pas les toucher",110,58,52
3,"Non, les femmes connaissent leurs Droits, elles ne vont pas ennuyer les hommes pour qu'elles ne se fassent tabasser",75,47,28
4,"Non, il y aura des petites prises de bouche, de petites prises de bouche entre epoux et epouses ne sont pas de la violence sur la femme",106,64,42
5,"Non, les hommes sont concients de ce probleme. Il ne tabassent presque plus les femmes",98,57,41
6,Autres,22,13,9

In [38]:
#df.columns

In [39]:
#2.1 - Ki bezwen espesifik ou panse fi yo genyen nan peryòd COVID-19 la?
#Pa gen okenn risk espesifik pou fi. Yo egal ak gason fas ak maladi a.
#Gen gwo risk pou sante yo akoz kondisyon ijyèn espesifik medam yo
#Ekonomi yo riske baskile paske se yo ki vann nan mache piblik yo ki ka oblije fèmen
#Yo souvan gen lajan eskont nan men yo si yo pa ka vann yo pap ka peye
#Se yo ki plis nan pèsonèl medikal la, yo pi ekspoze a atrape viris la
#Gen gwo risk pou sante yo akoz manke dlo ak pwodwi sanitè ki vin pi ra sou mache a
#Lòt

In [40]:
total_risk_for_women_during_covid = count_freq_multiple_answer(
    df,
   '2.1 - Ki bezwen espesifik ou panse fi yo genyen nan peryòd COVID-19 la?',  
    ["Pa gen okenn risk espesifik pou fi. Yo egal ak gason fas ak maladi a.", 
    "Gen gwo risk pou sante yo akoz kondisyon ijyèn espesifik medam yo", 
    'Ekonomi yo riske baskile paske se yo ki vann nan mache piblik yo ki ka oblije fèmen', 
    'Yo souvan gen lajan eskont nan men yo si yo pa ka vann yo pap ka peye',
    'Se yo ki plis nan pèsonèl medikal la, yo pi ekspoze a atrape viris la', 
    'Gen gwo risk pou sante yo akoz manke dlo ak pwodwi sanitè ki vin pi ra sou mache a', 
    'Lòt'])

In [41]:
total_risk_for_women_during_covid

,response,frequency
0,Yo souvan gen lajan eskont nan men yo si yo pa ka vann yo pap ka peye,246
1,Gen gwo risk pou sante yo akoz kondisyon ijyèn espesifik medam yo,181
2,Ekonomi yo riske baskile paske se yo ki vann nan mache piblik yo ki ka oblije fèmen,251
3,"Se yo ki plis nan pèsonèl medikal la, yo pi ekspoze a atrape viris la",117
4,Gen gwo risk pou sante yo akoz manke dlo ak pwodwi sanitè ki vin pi ra sou mache a,27
5,Lòt,31
6,Pa gen okenn risk espesifik pou fi. Yo egal ak gason fas ak maladi a.,100

In [42]:
total_femme_risk_for_women_during_covid = count_freq_multiple_answer(
    f_df,
   '2.1 - Ki bezwen espesifik ou panse fi yo genyen nan peryòd COVID-19 la?',  
    ["Pa gen okenn risk espesifik pou fi. Yo egal ak gason fas ak maladi a.", 
    "Gen gwo risk pou sante yo akoz kondisyon ijyèn espesifik medam yo", 
    'Ekonomi yo riske baskile paske se yo ki vann nan mache piblik yo ki ka oblije fèmen', 
    'Yo souvan gen lajan eskont nan men yo si yo pa ka vann yo pap ka peye',
    'Se yo ki plis nan pèsonèl medikal la, yo pi ekspoze a atrape viris la', 
    'Gen gwo risk pou sante yo akoz manke dlo ak pwodwi sanitè ki vin pi ra sou mache a', 
    'Lòt'])

In [43]:
total_femme_risk_for_women_during_covid

,response,frequency
0,Gen gwo risk pou sante yo akoz kondisyon ijyèn espesifik medam yo,115
1,Ekonomi yo riske baskile paske se yo ki vann nan mache piblik yo ki ka oblije fèmen,157
2,Yo souvan gen lajan eskont nan men yo si yo pa ka vann yo pap ka peye,154
3,"Se yo ki plis nan pèsonèl medikal la, yo pi ekspoze a atrape viris la",77
4,Lòt,23
5,Pa gen okenn risk espesifik pou fi. Yo egal ak gason fas ak maladi a.,57
6,Gen gwo risk pou sante yo akoz manke dlo ak pwodwi sanitè ki vin pi ra sou mache a,17

In [44]:
total_homme_risk_for_women_during_covid = count_freq_multiple_answer(
    h_df,
   '2.1 - Ki bezwen espesifik ou panse fi yo genyen nan peryòd COVID-19 la?',  
    ["Pa gen okenn risk espesifik pou fi. Yo egal ak gason fas ak maladi a.", 
    "Gen gwo risk pou sante yo akoz kondisyon ijyèn espesifik medam yo", 
    'Ekonomi yo riske baskile paske se yo ki vann nan mache piblik yo ki ka oblije fèmen', 
    'Yo souvan gen lajan eskont nan men yo si yo pa ka vann yo pap ka peye',
    'Se yo ki plis nan pèsonèl medikal la, yo pi ekspoze a atrape viris la', 
    'Gen gwo risk pou sante yo akoz manke dlo ak pwodwi sanitè ki vin pi ra sou mache a', 
    'Lòt'])

In [45]:
total_homme_risk_for_women_during_covid

,response,frequency
0,Yo souvan gen lajan eskont nan men yo si yo pa ka vann yo pap ka peye,92
1,Ekonomi yo riske baskile paske se yo ki vann nan mache piblik yo ki ka oblije fèmen,94
2,"Se yo ki plis nan pèsonèl medikal la, yo pi ekspoze a atrape viris la",40
3,Gen gwo risk pou sante yo akoz kondisyon ijyèn espesifik medam yo,66
4,Gen gwo risk pou sante yo akoz manke dlo ak pwodwi sanitè ki vin pi ra sou mache a,10
5,Pa gen okenn risk espesifik pou fi. Yo egal ak gason fas ak maladi a.,43
6,Lòt,8

In [46]:
mergedDf3 = total_risk_for_women_during_covid.merge(total_femme_risk_for_women_during_covid, on='response')

In [47]:
mergedDf3

,response,frequency_x,frequency_y
0,Yo souvan gen lajan eskont nan men yo si yo pa ka vann yo pap ka peye,246,154
1,Gen gwo risk pou sante yo akoz kondisyon ijyèn espesifik medam yo,181,115
2,Ekonomi yo riske baskile paske se yo ki vann nan mache piblik yo ki ka oblije fèmen,251,157
3,"Se yo ki plis nan pèsonèl medikal la, yo pi ekspoze a atrape viris la",117,77
4,Gen gwo risk pou sante yo akoz manke dlo ak pwodwi sanitè ki vin pi ra sou mache a,27,17
5,Lòt,31,23
6,Pa gen okenn risk espesifik pou fi. Yo egal ak gason fas ak maladi a.,100,57

In [48]:
mergedDf4 = mergedDf3.merge(total_homme_risk_for_women_during_covid, on='response')

In [49]:
mergedDf4

,response,frequency_x,frequency_y,frequency
0,Yo souvan gen lajan eskont nan men yo si yo pa ka vann yo pap ka peye,246,154,92
1,Gen gwo risk pou sante yo akoz kondisyon ijyèn espesifik medam yo,181,115,66
2,Ekonomi yo riske baskile paske se yo ki vann nan mache piblik yo ki ka oblije fèmen,251,157,94
3,"Se yo ki plis nan pèsonèl medikal la, yo pi ekspoze a atrape viris la",117,77,40
4,Gen gwo risk pou sante yo akoz manke dlo ak pwodwi sanitè ki vin pi ra sou mache a,27,17,10
5,Lòt,31,23,8
6,Pa gen okenn risk espesifik pou fi. Yo egal ak gason fas ak maladi a.,100,57,43

In [50]:
answers1 = {"Yo souvan gen lajan eskont nan men yo si yo pa ka vann yo pap ka peye":
               'Incapable de payer leurs creances', 
               'Gen gwo risk pou sante yo akoz kondisyon ijyèn espesifik medam yo': 
               'Risque avec leurs hygienes intimes', 
               'Ekonomi yo riske baskile paske se yo ki vann nan mache piblik yo ki ka oblije fèmen': 
               'Fermeture des marches public: Efondrement economique',
               'Se yo ki plis nan pèsonèl medikal la, yo pi ekspoze a atrape viris la': 
               'Risque d\'attraper le virus au niveau du personnel medical',
               'Gen gwo risk pou sante yo akoz manke dlo ak pwodwi sanitè ki vin pi ra sou mache a':
               'Rarete des produits sanitaires va impacter leur sante',
               'Pa gen okenn risk espesifik pou fi. Yo egal ak gason fas ak maladi a.':
               'Aucun risque specifique pour les femmes comme les hommes',
          'Lòt': 'Autres'}
renamed_list = rename_col_values(mergedDf4, 'response', answers1)
mergedDf4['response'] = renamed_list

In [51]:
mergedDf4

,response,frequency_x,frequency_y,frequency
0,Incapable de payer leurs creances,246,154,92
1,Risque avec leurs hygienes intimes,181,115,66
2,Fermeture des marches public: Efondrement economique,251,157,94
3,Risque d'attraper le virus au niveau du personnel medical,117,77,40
4,Rarete des produits sanitaires va impacter leur sante,27,17,10
5,Autres,31,23,8
6,Aucun risque specifique pour les femmes comme les hommes,100,57,43

In [52]:
#2.4 - Daprè ou menm kisa ou ka konsidere kòm yon siy maskilinite pozitiv
#Yon gason ki enpoze otorite l nan fanmi l kote madanm li dwe toujou mache sou zòd li nenpòt jan sa ye
#Yon gason ki bay madanm li tout sa l bezwen pou l' ka korije fi a l lè l' anmègde kòl
#Yon gason ki patisipe nan aktivite kay la ak madanm li
#Yon gason ki kwè li dwe patisipe nan edikasyon timoun li menm jan ak madanm li
#Yon gason pa dwe ap mande fi èd nan zafè nouri fanmi l\'.'
#M pa konnen
#Lòt

In [53]:
total_understanding_of_positive_masculinity = count_freq_multiple_answer(
    df,
   '2.4 - Daprè ou menm kisa ou ka konsidere kòm yon siy maskilinite pozitiv',  
    ["Yon gason ki enpoze otorite l nan fanmi l kote madanm li dwe toujou mache sou zòd li nenpòt jan sa ye", 
    "Yon gason ki bay madanm li tout sa l bezwen pou l' ka korije fi a l lè l' anmègde kòl", 
    'Yon gason ki patisipe nan aktivite kay la ak madanm li', 
    'Yon gason ki kwè li dwe patisipe nan edikasyon timoun li menm jan ak madanm li',
    'Yon gason pa dwe ap mande fi èd nan zafè nouri fanmi l\'.', 
    'M pa konnen', 
    'Lòt'])

In [54]:
total_understanding_of_positive_masculinity

,response,frequency
0,Yon gason ki kwè li dwe patisipe nan edikasyon timoun li menm jan ak madanm li,273
1,Yon gason ki patisipe nan aktivite kay la ak madanm li,310
2,Yon gason pa dwe ap mande fi èd nan zafè nouri fanmi l'.,86
3,Yon gason ki bay madanm li tout sa l bezwen pou l' ka korije fi a l lè l' anmègde kòl,82
4,Yon gason ki enpoze otorite l nan fanmi l kote madanm li dwe toujou mache sou zòd li nenpòt jan sa ye,28
5,Lòt,27
6,M pa konnen,22

In [55]:
total_femme_understanding_of_positive_masculinity = count_freq_multiple_answer(
    f_df,
   '2.4 - Daprè ou menm kisa ou ka konsidere kòm yon siy maskilinite pozitiv',  
    ["Yon gason ki enpoze otorite l nan fanmi l kote madanm li dwe toujou mache sou zòd li nenpòt jan sa ye", 
    "Yon gason ki bay madanm li tout sa l bezwen pou l' ka korije fi a l lè l' anmègde kòl", 
    'Yon gason ki patisipe nan aktivite kay la ak madanm li', 
    'Yon gason ki kwè li dwe patisipe nan edikasyon timoun li menm jan ak madanm li',
    'Yon gason pa dwe ap mande fi èd nan zafè nouri fanmi l\'.', 
    'M pa konnen', 
    'Lòt'])

In [56]:
total_femme_understanding_of_positive_masculinity

,response,frequency
0,Yon gason ki kwè li dwe patisipe nan edikasyon timoun li menm jan ak madanm li,175
1,Yon gason ki bay madanm li tout sa l bezwen pou l' ka korije fi a l lè l' anmègde kòl,46
2,Yon gason ki patisipe nan aktivite kay la ak madanm li,179
3,Yon gason pa dwe ap mande fi èd nan zafè nouri fanmi l'.,54
4,Lòt,16
5,M pa konnen,10
6,Yon gason ki enpoze otorite l nan fanmi l kote madanm li dwe toujou mache sou zòd li nenpòt jan sa ye,12

In [57]:
total_homme_understanding_of_positive_masculinity = count_freq_multiple_answer(
    h_df,
   '2.4 - Daprè ou menm kisa ou ka konsidere kòm yon siy maskilinite pozitiv',  
    ["Yon gason ki enpoze otorite l nan fanmi l kote madanm li dwe toujou mache sou zòd li nenpòt jan sa ye", 
    "Yon gason ki bay madanm li tout sa l bezwen pou l' ka korije fi a l lè l' anmègde kòl", 
    'Yon gason ki patisipe nan aktivite kay la ak madanm li', 
    'Yon gason ki kwè li dwe patisipe nan edikasyon timoun li menm jan ak madanm li',
    'Yon gason pa dwe ap mande fi èd nan zafè nouri fanmi l\'.', 
    'M pa konnen', 
    'Lòt'])

In [58]:
total_homme_understanding_of_positive_masculinity

,response,frequency
0,Yon gason ki kwè li dwe patisipe nan edikasyon timoun li menm jan ak madanm li,98
1,Yon gason ki patisipe nan aktivite kay la ak madanm li,131
2,Yon gason pa dwe ap mande fi èd nan zafè nouri fanmi l'.,32
3,Yon gason ki bay madanm li tout sa l bezwen pou l' ka korije fi a l lè l' anmègde kòl,36
4,Yon gason ki enpoze otorite l nan fanmi l kote madanm li dwe toujou mache sou zòd li nenpòt jan sa ye,16
5,M pa konnen,12
6,Lòt,11

In [59]:
mergedDf5 = total_understanding_of_positive_masculinity.merge(total_femme_understanding_of_positive_masculinity, on='response')

In [60]:
mergedDf5

,response,frequency_x,frequency_y
0,Yon gason ki kwè li dwe patisipe nan edikasyon timoun li menm jan ak madanm li,273,175
1,Yon gason ki patisipe nan aktivite kay la ak madanm li,310,179
2,Yon gason pa dwe ap mande fi èd nan zafè nouri fanmi l'.,86,54
3,Yon gason ki bay madanm li tout sa l bezwen pou l' ka korije fi a l lè l' anmègde kòl,82,46
4,Yon gason ki enpoze otorite l nan fanmi l kote madanm li dwe toujou mache sou zòd li nenpòt jan sa ye,28,12
5,Lòt,27,16
6,M pa konnen,22,10

In [61]:
mergedDf6 = mergedDf5.merge(total_homme_understanding_of_positive_masculinity, on='response')

In [62]:
mergedDf6

,response,frequency_x,frequency_y,frequency
0,Yon gason ki kwè li dwe patisipe nan edikasyon timoun li menm jan ak madanm li,273,175,98
1,Yon gason ki patisipe nan aktivite kay la ak madanm li,310,179,131
2,Yon gason pa dwe ap mande fi èd nan zafè nouri fanmi l'.,86,54,32
3,Yon gason ki bay madanm li tout sa l bezwen pou l' ka korije fi a l lè l' anmègde kòl,82,46,36
4,Yon gason ki enpoze otorite l nan fanmi l kote madanm li dwe toujou mache sou zòd li nenpòt jan sa ye,28,12,16
5,Lòt,27,16,11
6,M pa konnen,22,10,12

In [63]:
answers2 = {"Yon gason ki kwè li dwe patisipe nan edikasyon timoun li menm jan ak madanm li":
               'Un homme qui participe dans l\'education des ses enfants au meme titre que sa femme', 
               'Yon gason ki patisipe nan aktivite kay la ak madanm li': 
               'Un homme qui participe comme sa femme aux taches menageres', 
               'Yon gason pa dwe ap mande fi èd nan zafè nouri fanmi l\'.': 
               'Un homme qui ne demande pas de l\'aide a sa femme quand il s\'agit de nourrir sa famille',
               'Yon gason ki bay madanm li tout sa l bezwen pou l\' ka korije fi a l lè l\' anmègde kòl': 
               'Un homme qui prend bien soin de sa femme en vue de la corriger quand c\'est nessaire',
               'Yon gason ki enpoze otorite l nan fanmi l kote madanm li dwe toujou mache sou zòd li nenpòt jan sa ye':
               'Un homme sous l\'autorite de qui sa femme et sa famille doit toujours obeir en toute circonstance',
               'M pa konnen':
               'Je ne sais pas',
          'Lòt': 'Autres'}
renamed_list = rename_col_values(mergedDf6, 'response', answers2)
mergedDf6['response'] = renamed_list

In [64]:
mergedDf6

,response,frequency_x,frequency_y,frequency
0,Un homme qui participe dans l'education des ses enfants au meme titre que sa femme,273,175,98
1,Un homme qui participe comme sa femme aux taches menageres,310,179,131
2,Un homme qui ne demande pas de l'aide a sa femme quand il s'agit de nourrir sa famille,86,54,32
3,Un homme qui prend bien soin de sa femme en vue de la corriger quand c'est nessaire,82,46,36
4,Un homme sous l'autorite de qui sa femme et sa famille doit toujours obeir en toute circonstance,28,12,16
5,Autres,27,16,11
6,Je ne sais pas,22,10,12

In [65]:
#4.1.1 - Ki mwayen yo plis itilize pou fè pase mesaj sou COVID-19 nan Jeremie?
#Mwayen radyo
#Bilbòd
#Flayèz
#Machin k'ap fè monte desann ak gwo espikè (talking cars)
#Itilizasyon megafòn
#Mwayen SMS
#Apèl sou telefòn
#Lòt

In [66]:
total_mean_of_diffision = count_freq_multiple_answer(
    df,
   '4.1.1 - Ki mwayen yo plis itilize pou fè pase mesaj sou COVID-19 nan Jeremie?',  
    ["Mwayen radyo", 
    "Bilbòd", 
    'Flayèz', 
    'Machin k\'ap fè monte desann ak gwo espikè (talking cars)',
    'Itilizasyon megafòn', 
    'Mwayen SMS',
     'Apèl sou telefòn',
    'Lòt'])

In [67]:
total_mean_of_diffision

                                                   response  frequency
0                                              Mwayen radyo        403
1  Machin k'ap fè monte desann ak gwo espikè (talking cars)        335
2                                                    Flayèz        144
3                                                Mwayen SMS        246
4                                       Itilizasyon megafòn        145
5                                          Apèl sou telefòn        181
6                                                    Bilbòd         85
7                                                       Lòt          9

In [68]:
total_femme_mean_of_diffision = count_freq_multiple_answer(
    f_df,
   '4.1.1 - Ki mwayen yo plis itilize pou fè pase mesaj sou COVID-19 nan Jeremie?',  
    ["Mwayen radyo", 
    "Bilbòd", 
    'Flayèz', 
    'Machin k\'ap fè monte desann ak gwo espikè (talking cars)',
    'Itilizasyon megafòn', 
    'Mwayen SMS',
     'Apèl sou telefòn',
    'Lòt'])

In [69]:
total_femme_mean_of_diffision

                                                   response  frequency
0                                              Mwayen radyo        234
1                                                    Flayèz         82
2  Machin k'ap fè monte desann ak gwo espikè (talking cars)        198
3                                                Mwayen SMS        151
4                                       Itilizasyon megafòn         86
5                                          Apèl sou telefòn        107
6                                                    Bilbòd         53
7                                                       Lòt          4

In [70]:
total_homme_mean_of_diffision = count_freq_multiple_answer(
    h_df,
   '4.1.1 - Ki mwayen yo plis itilize pou fè pase mesaj sou COVID-19 nan Jeremie?',  
    ["Mwayen radyo", 
    "Bilbòd", 
    'Flayèz', 
    'Machin k\'ap fè monte desann ak gwo espikè (talking cars)',
    'Itilizasyon megafòn', 
    'Mwayen SMS',
     'Apèl sou telefòn',
    'Lòt'])

In [71]:
total_homme_mean_of_diffision

                                                   response  frequency
0                                              Mwayen radyo        169
1  Machin k'ap fè monte desann ak gwo espikè (talking cars)        137
2                                       Itilizasyon megafòn         59
3                                                Mwayen SMS         95
4                                          Apèl sou telefòn         74
5                                                    Flayèz         62
6                                                    Bilbòd         32
7                                                       Lòt          5

In [72]:
mergedDf7 = total_mean_of_diffision.merge(total_femme_mean_of_diffision, on='response')

In [73]:
mergedDf7

,response,frequency_x,frequency_y
0,Mwayen radyo,403,234
1,Machin k'ap fè monte desann ak gwo espikè (talking cars),335,198
2,Flayèz,144,82
3,Mwayen SMS,246,151
4,Itilizasyon megafòn,145,86
5,Apèl sou telefòn,181,107
6,Bilbòd,85,53
7,Lòt,9,4

In [74]:
mergedDf8 = mergedDf7.merge(total_homme_mean_of_diffision, on='response')

In [75]:
mergedDf8

,response,frequency_x,frequency_y,frequency
0,Mwayen radyo,403,234,169
1,Machin k'ap fè monte desann ak gwo espikè (talking cars),335,198,137
2,Flayèz,144,82,62
3,Mwayen SMS,246,151,95
4,Itilizasyon megafòn,145,86,59
5,Apèl sou telefòn,181,107,74
6,Bilbòd,85,53,32
7,Lòt,9,4,5

In [76]:
answers3 = {"Mwayen radyo":
               'Radio', 
               'Machin k\'ap fè monte desann ak gwo espikè (talking cars)': 
               'Voitures parlantes (Talking Cars)', 
               'Flayèz': 
               'Flyers',
               'Mwayen SMS': 
               'SMS',
               'Itilizasyon megafòn':
               'Megaphone',
               'Apèl sou telefòn':
               'Appel telephonique',
            'Bilbòd':
            'Billboard',
          'Lòt': 'Autres'}
renamed_list = rename_col_values(mergedDf8, 'response', answers3)
mergedDf8['response'] = renamed_list

In [77]:
mergedDf8

                            response  frequency_x  frequency_y  frequency
0                              Radio          403          234        169
1  Voitures parlantes (Talking Cars)          335          198        137
2                             Flyers          144           82         62
3                                SMS          246          151         95
4                          Megaphone          145           86         59
5                 Appel telephonique          181          107         74
6                          Billboard           85           53         32
7                             Autres            9            4          5

In [78]:
#plot_g(mergedDf8)

In [79]:
#2.6 - Yon nèg ki ap travay ka patisipe nan travay kay la menm jan ak madanm li

#Mwen dakò ak sa anpil
#Mwen dakò
#Mwen pa ni dakò ni pa dakò
#Mwen pa dakò
#Mwen pa dakò ditou.

In [80]:
total_agreement_on_2_6 = count_freq_simple_answer(df, 
                        '2.6 - Yon nèg ki ap travay ka patisipe nan travay kay la menm jan ak madanm li'
                                                )

In [81]:
total_agreement_on_2_6

                     response  frequency
0                   Mwen dakò        235
1       Mwen dakò ak sa anpil        192
2                Mwen pa dakò         20
3  Mwen pa ni dakò ni pa dakò         23
4         Mwen pa dakò ditou.          4
5                         NaN          2

In [82]:
sum(total_agreement_on_2_6['frequency'])

476

In [83]:
total_femme_agreement_on_2_6 = count_freq_simple_answer(f_df, 
                        '2.6 - Yon nèg ki ap travay ka patisipe nan travay kay la menm jan ak madanm li'
                                                )

In [84]:
total_femme_agreement_on_2_6

                     response  frequency
0       Mwen dakò ak sa anpil        125
1                   Mwen dakò        120
2                Mwen pa dakò         14
3         Mwen pa dakò ditou.          4
4  Mwen pa ni dakò ni pa dakò         12
5                         NaN          1

In [85]:
total_homme_agreement_on_2_6 = count_freq_simple_answer(h_df, 
                        '2.6 - Yon nèg ki ap travay ka patisipe nan travay kay la menm jan ak madanm li'
                                                )

In [86]:
total_homme_agreement_on_2_6

                     response  frequency
0                   Mwen dakò        115
1       Mwen dakò ak sa anpil         67
2                Mwen pa dakò          6
3  Mwen pa ni dakò ni pa dakò         11
4                         NaN          1

In [87]:
mergeDef2_6 = total_agreement_on_2_6.merge(total_femme_agreement_on_2_6, on="response")

In [88]:
mergeDef2_6

                     response  frequency_x  frequency_y
0                   Mwen dakò          235          120
1       Mwen dakò ak sa anpil          192          125
2                Mwen pa dakò           20           14
3  Mwen pa ni dakò ni pa dakò           23           12
4         Mwen pa dakò ditou.            4            4
5                         NaN            2            1

In [89]:
mergeDef2_6 = mergeDef2_6.merge(total_homme_agreement_on_2_6, on="response")

In [90]:
mergeDef2_6

                     response  frequency_x  frequency_y  frequency
0                   Mwen dakò          235          120        115
1       Mwen dakò ak sa anpil          192          125         67
2                Mwen pa dakò           20           14          6
3  Mwen pa ni dakò ni pa dakò           23           12         11
4                         NaN            2            1          1

In [91]:
answers4 = {"Mwen dakò ak sa anpil":
               'Je suis tres d\'accord', 
               'Mwen dakò': 
               'Je suiss d\'accord', 
               'Mwen pa ni dakò ni pa dakò': 
               'Je suis indiferent (e)',
               'Mwen pa dakò': 
               'Je ne suis pas d\'accord',
               'Mwen pa dakò ditou.':
               'Je ne suis pas d\'accord du tout'}
renamed_list = rename_col_values(mergeDef2_6, 'response', answers4)
mergeDef2_6['response'] = renamed_list

In [92]:
mergeDef2_6

                  response  frequency_x  frequency_y  frequency
0        Je suiss d'accord          235          120        115
1    Je suis tres d'accord          192          125         67
2  Je ne suis pas d'accord           20           14          6
3   Je suis indiferent (e)           23           12         11
4                     None            2            1          1

In [93]:
total_agreement_on_2_7 = count_freq_simple_answer(df, 
                        '2.7 - Si madanm yon nèg se enfimyè k\'ap travay nan moman COVID-19 la, mari a ka pwofite pran swen timoun yo ak lòt aktivite nan kay la'
                                                )

In [94]:
total_agreement_on_2_7

                                                     response  frequency
0                         Wi paske viv ansanm se youn ede lòt        172
1     Wi paske lè fi a antre li ap epwize, mari a ka soutni l         31
2        Wi menm an tan nòmal se konsa li dwe ye youn ede lòt         65
3                      Wi men se si fi a gen respè pou nèg la         49
4                            Wi, men sofsi mari a p'ap travay        135
5  Travay nan kay se pou fi, lè fi a antre li ka toujou fè yo         18
6                                                         Lòt          4
7                                                         NaN          2

In [95]:
total_femme_agreement_on_2_7 = count_freq_simple_answer(f_df, 
                        '2.7 - Si madanm yon nèg se enfimyè k\'ap travay nan moman COVID-19 la, mari a ka pwofite pran swen timoun yo ak lòt aktivite nan kay la'
                                                )

In [96]:
total_femme_agreement_on_2_7

                                                     response  frequency
0                         Wi paske viv ansanm se youn ede lòt        103
1                      Wi men se si fi a gen respè pou nèg la         24
2                            Wi, men sofsi mari a p'ap travay         81
3  Travay nan kay se pou fi, lè fi a antre li ka toujou fè yo          9
4        Wi menm an tan nòmal se konsa li dwe ye youn ede lòt         37
5     Wi paske lè fi a antre li ap epwize, mari a ka soutni l         19
6                                                         Lòt          2
7                                                         NaN          1

In [97]:
total_homme_agreement_on_2_7 = count_freq_simple_answer(h_df, 
                        '2.7 - Si madanm yon nèg se enfimyè k\'ap travay nan moman COVID-19 la, mari a ka pwofite pran swen timoun yo ak lòt aktivite nan kay la'
                                                )

In [98]:
total_homme_agreement_on_2_7

                                                     response  frequency
0                         Wi paske viv ansanm se youn ede lòt         69
1     Wi paske lè fi a antre li ap epwize, mari a ka soutni l         12
2        Wi menm an tan nòmal se konsa li dwe ye youn ede lòt         28
3                            Wi, men sofsi mari a p'ap travay         54
4                      Wi men se si fi a gen respè pou nèg la         25
5                                                         Lòt          2
6  Travay nan kay se pou fi, lè fi a antre li ka toujou fè yo          9
7                                                         NaN          1

In [99]:
mergeDef2_7 = total_agreement_on_2_7.merge(total_femme_agreement_on_2_7, on="response")

In [100]:
mergeDef2_7

,response,frequency_x,frequency_y
0,Wi paske viv ansanm se youn ede lòt,172,103
1,"Wi paske lè fi a antre li ap epwize, mari a ka soutni l",31,19
2,Wi menm an tan nòmal se konsa li dwe ye youn ede lòt,65,37
3,Wi men se si fi a gen respè pou nèg la,49,24
4,"Wi, men sofsi mari a p'ap travay",135,81
5,"Travay nan kay se pou fi, lè fi a antre li ka toujou fè yo",18,9
6,Lòt,4,2
7,NaN,2,1

In [101]:
mergeDef2_7 = mergeDef2_7.merge(total_homme_agreement_on_2_7, on="response")

In [102]:
mergeDef2_7

,response,frequency_x,frequency_y,frequency
0,Wi paske viv ansanm se youn ede lòt,172,103,69
1,"Wi paske lè fi a antre li ap epwize, mari a ka soutni l",31,19,12
2,Wi menm an tan nòmal se konsa li dwe ye youn ede lòt,65,37,28
3,Wi men se si fi a gen respè pou nèg la,49,24,25
4,"Wi, men sofsi mari a p'ap travay",135,81,54
5,"Travay nan kay se pou fi, lè fi a antre li ka toujou fè yo",18,9,9
6,Lòt,4,2,2
7,NaN,2,1,1

In [103]:
answers5 = {"Wi paske viv ansanm se youn ede lòt":
               'OUi, car la vie commune reclame support mutuel', 
               'Travay nan kay se pou fi, lè fi a antre li ka toujou fè yo': 
               'Non, tache menagere sont pour la femme', 
               'Wi, men sofsi mari a p\'ap travay': 
               'Oui, mais si l\'homme ne travaille pas',
               'Wi menm an tan nòmal se konsa li dwe ye youn ede lòt': 
               'Oui, cela doit etre toujours ainsi',
               'Wi paske lè fi a antre li ap epwize, mari a ka soutni l':
               'Oui, car en retour la femme sera fatiguee',
               'Wi men se si fi a gen respè pou nèg la':
               'Oui, si la femme respecte son mari',
               'Lòt':
               'Autres'}
renamed_list = rename_col_values(mergeDef2_7, 'response', answers5)
mergeDef2_7['response'] = renamed_list

In [104]:
mergeDef2_7

,response,frequency_x,frequency_y,frequency
0,"OUi, car la vie commune reclame support mutuel",172,103,69
1,"Oui, car en retour la femme sera fatiguee",31,19,12
2,"Oui, cela doit etre toujours ainsi",65,37,28
3,"Oui, si la femme respecte son mari",49,24,25
4,"Oui, mais si l'homme ne travaille pas",135,81,54
5,"Non, tache menagere sont pour la femme",18,9,9
6,Autres,4,2,2
7,None,2,1,1

In [105]:
total_agreement_on_3_1 = count_freq_simple_answer(df, 
                        '3.1 - Eske ou panse li enpòtan pou yo fè sansibilizasyon sosyete a ak otorite yo sou bezwen fanm ak dwa fanm yo nan moman COVID-19 la?'
                                                )

In [106]:
total_agreement_on_3_1

                                               response  frequency
0  Wi paske fi yo ka plis viktim lot konsekans maladi a        395
1                                           M pa konnen         51
2             Non. Se pa enpòtan paske nou tout konsène         30

In [107]:
total_femme_agreement_on_3_1 = count_freq_simple_answer(f_df, 
                        '3.1 - Eske ou panse li enpòtan pou yo fè sansibilizasyon sosyete a ak otorite yo sou bezwen fanm ak dwa fanm yo nan moman COVID-19 la?'
                                                )

In [108]:
total_femme_agreement_on_3_1

                                               response  frequency
0  Wi paske fi yo ka plis viktim lot konsekans maladi a        229
1                                           M pa konnen         30
2             Non. Se pa enpòtan paske nou tout konsène         17

In [109]:
total_homme_agreement_on_3_1 = count_freq_simple_answer(h_df, 
                        '3.1 - Eske ou panse li enpòtan pou yo fè sansibilizasyon sosyete a ak otorite yo sou bezwen fanm ak dwa fanm yo nan moman COVID-19 la?'
                                                )

In [110]:
total_homme_agreement_on_3_1

                                               response  frequency
0  Wi paske fi yo ka plis viktim lot konsekans maladi a        166
1                                           M pa konnen         21
2             Non. Se pa enpòtan paske nou tout konsène         13

In [111]:
mergeDef3_1 = total_agreement_on_3_1.merge(total_femme_agreement_on_3_1, on="response")
mergeDef3_1 = mergeDef3_1.merge(total_homme_agreement_on_3_1, on="response")

In [112]:
mergeDef3_1

,response,frequency_x,frequency_y,frequency
0,Wi paske fi yo ka plis viktim lot konsekans maladi a,395,229,166
1,M pa konnen,51,30,21
2,Non. Se pa enpòtan paske nou tout konsène,30,17,13

In [113]:
answers6 = {   "Wi paske fi yo ka plis viktim lot konsekans maladi a":
               'Oui, les femmes peuvent subir autres consequences de la maladie', 
               'M pa konnen':
               'Je ne sais pas', 
               'Non. Se pa enpòtan paske nou tout konsène': 
               'Non. Ce n\'est pas important'
           }
renamed_list = rename_col_values(mergeDef3_1, 'response', answers6)
mergeDef3_1['response'] = renamed_list

In [114]:
mergeDef3_1

,response,frequency_x,frequency_y,frequency
0,"Oui, les femmes peuvent subir autres consequences de la maladie",395,229,166
1,Je ne sais pas,51,30,21
2,Non. Ce n'est pas important,30,17,13

In [115]:
total_agreement_on_3_2 = count_freq_simple_answer(df, 
                        '3.2 - Eske ou prè pou w patisipe nan kanpay sansibilizasyon sou enpotans fanm ak dwa fanm nan peryod COVID-19 la?'
                                                )

In [116]:
total_agreement_on_3_2

  response  frequency
0       Wi        440
1      Non         36

In [117]:
total_femme_agreement_on_3_2 = count_freq_simple_answer(f_df, 
                        '3.2 - Eske ou prè pou w patisipe nan kanpay sansibilizasyon sou enpotans fanm ak dwa fanm nan peryod COVID-19 la?'
                                                )

In [118]:
total_femme_agreement_on_3_2

  response  frequency
0       Wi        252
1      Non         24

In [119]:
total_homme_agreement_on_3_2 = count_freq_simple_answer(h_df, 
                        '3.2 - Eske ou prè pou w patisipe nan kanpay sansibilizasyon sou enpotans fanm ak dwa fanm nan peryod COVID-19 la?'
                                                )

In [120]:
total_homme_agreement_on_3_2

  response  frequency
0       Wi        188
1      Non         12

In [121]:
mergeDef3_2 = total_agreement_on_3_2.merge(total_femme_agreement_on_3_2, on="response")
mergeDef3_2 = mergeDef3_2.merge(total_homme_agreement_on_3_2, on="response")

In [122]:
mergeDef3_2

  response  frequency_x  frequency_y  frequency
0       Wi          440          252        188
1      Non           36           24         12

In [123]:
#4.1 - Eske w' konn tande mesaj pou sansibilize moun sou COVID-19 nan vil Jeremie?
total_agreement_on_4_1 = count_freq_simple_answer(df, 
                        '4.1 - Eske w\' konn tande mesaj pou sansibilize moun sou COVID-19 nan vil Jeremie?'
                                                )

total_femme_agreement_on_4_1 = count_freq_simple_answer(f_df, 
                        '4.1 - Eske w\' konn tande mesaj pou sansibilize moun sou COVID-19 nan vil Jeremie?'
                                                )


total_homme_agreement_on_4_1 = count_freq_simple_answer(h_df, 
                        '4.1 - Eske w\' konn tande mesaj pou sansibilize moun sou COVID-19 nan vil Jeremie?'
                                                )

mergeDef4_1 = total_agreement_on_4_1.merge(total_femme_agreement_on_4_1, on="response")
mergeDef4_1 = mergeDef4_1.merge(total_homme_agreement_on_4_1, on="response")

mergeDef4_1

  response  frequency_x  frequency_y  frequency
0       Wi          473          275        198
1      Non            2            1          1

In [124]:
#4.2 - Nan mesaj ki fè sansibilizasyon sou COVID-19 la, èske yo konn sansibilize popilasyon an sou vyolans ant fi ak gason nan moman pandemi an tou?
total_agreement_on_4_2 = count_freq_simple_answer(df, 
                        '4.2 - Nan mesaj ki fè sansibilizasyon sou COVID-19 la, èske yo konn sansibilize popilasyon an sou vyolans ant fi ak gason nan moman pandemi an tou?'
                                                )

total_femme_agreement_on_4_2 = count_freq_simple_answer(f_df, 
                        '4.2 - Nan mesaj ki fè sansibilizasyon sou COVID-19 la, èske yo konn sansibilize popilasyon an sou vyolans ant fi ak gason nan moman pandemi an tou?'
                                                )


total_homme_agreement_on_4_2 = count_freq_simple_answer(h_df, 
                        '4.2 - Nan mesaj ki fè sansibilizasyon sou COVID-19 la, èske yo konn sansibilize popilasyon an sou vyolans ant fi ak gason nan moman pandemi an tou?'
                                                )

mergeDef4_2 = total_agreement_on_4_2.merge(total_femme_agreement_on_4_2, on="response")
mergeDef4_2 = mergeDef4_2.merge(total_homme_agreement_on_4_2, on="response")

mergeDef4_2

                     response  frequency_x  frequency_y  frequency
0                         Non          139           78         61
1                          Wi          283          165        118
2  Petèt, m pa prete atansyon           51           32         19
3                         NaN            3            1          2

In [125]:
#4.3 - Eske nan mesaj sou COVID-19, yo konn pale sou enpotans fanm yo nan repons a pandemi an?

total_agreement_on_4_3 = count_freq_simple_answer(df, 
                        '4.3 - Eske nan mesaj sou COVID-19, yo konn pale sou enpotans fanm yo nan repons a pandemi an?'
                                                )

total_femme_agreement_on_4_3 = count_freq_simple_answer(f_df, 
                        '4.3 - Eske nan mesaj sou COVID-19, yo konn pale sou enpotans fanm yo nan repons a pandemi an?'
                                                )


total_homme_agreement_on_4_3 = count_freq_simple_answer(h_df, 
                        '4.3 - Eske nan mesaj sou COVID-19, yo konn pale sou enpotans fanm yo nan repons a pandemi an?'
                                                )

mergeDef4_3 = total_agreement_on_4_3.merge(total_femme_agreement_on_4_3, on="response")
mergeDef4_3 = mergeDef4_3.merge(total_homme_agreement_on_4_3, on="response")

mergeDef4_3

                     response  frequency_x  frequency_y  frequency
0                         Non          159           88         71
1  Petèt, m pa prete atansyon           95           49         46
2                          Wi          219          138         81
3                         NaN            3            1          2

In [126]:
#4.4 - Eske nan mesaj sou COVID-19, yo konn pale sou responsabilite mari fi ki nan pesonèl medikal yo anndan fanmi yo pandan pandemi an?

total_agreement_on_4_4 = count_freq_simple_answer(df, 
                        '4.4 - Eske nan mesaj sou COVID-19, yo konn pale sou responsabilite mari fi ki nan pesonèl medikal yo anndan fanmi yo pandan pandemi an?'
                                                )

total_femme_agreement_on_4_4 = count_freq_simple_answer(f_df, 
                        '4.4 - Eske nan mesaj sou COVID-19, yo konn pale sou responsabilite mari fi ki nan pesonèl medikal yo anndan fanmi yo pandan pandemi an?'
                                                )


total_homme_agreement_on_4_4 = count_freq_simple_answer(h_df, 
                        '4.4 - Eske nan mesaj sou COVID-19, yo konn pale sou responsabilite mari fi ki nan pesonèl medikal yo anndan fanmi yo pandan pandemi an?'
                                                )

mergeDef4_4 = total_agreement_on_4_4.merge(total_femme_agreement_on_4_4, on="response")
mergeDef4_4 = mergeDef4_4.merge(total_homme_agreement_on_4_4, on="response")

mergeDef4_4

                     response  frequency_x  frequency_y  frequency
0                         Non          180          105         75
1                          Wi          157           96         61
2  Petèt, m pa prete atansyon          136           74         62
3                         NaN            3            1          2